In [1]:
import pandas as pd
import numpy as np
import math
from math import sqrt
import matplotlib.pyplot as plt
import spicy
from spicy.stats import pearsonr

ModuleNotFoundError: No module named 'spicy.stats'

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

    Patient ID   Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0            1                            130                           120
1            2                            142                           135
2            3                            120                           118
3            4                            135                           127
4            5                            148                           140
..         ...                            ...                           ...
95          96                            136                           129
96          97                            143                           137
97          98                            127                           123
98          99                            139                           135
99         100                            135                           130

[100 rows x 3 columns]

## Measure the dispersion in both and interpret the results

## renaming the column name

In [4]:
df2 = df.copy()

In [6]:
new_columns = {' Blood Pressure After (mmHg)':"Blood_Pressure_After_(mmHg)",' Blood Pressure Before (mmHg)':"Blood_Pressure_Before_(mmHg)"}

In [7]:
df2.columns

Index(['Patient ID', ' Blood Pressure Before (mmHg)',
       ' Blood Pressure After (mmHg)'],
      dtype='object')

In [8]:
df2.rename(columns= new_columns, inplace=True)

In [9]:
df2.head()

   Patient ID  Blood_Pressure_Before_(mmHg)  Blood_Pressure_After_(mmHg)
0           1                           130                          120
1           2                           142                          135
2           3                           120                          118
3           4                           135                          127
4           5                           148                          140

In [ ]:
## Range 
def range(data):
    range_1 = max(data)- min(data)
    return range_1

In [ ]:
range(df2['Blood_Pressure_Before_(mmHg)'])

In [ ]:
range(df2['Blood_Pressure_After_(mmHg)'])

In [ ]:
def mean_1(data):
    mean=  np.mean(data)
    return mean

In [ ]:
mean_1(df2['Blood_Pressure_Before_(mmHg)'])

In [ ]:
mean_1(df2['Blood_Pressure_After_(mmHg)'])

In [ ]:
def var(data):
    var_1=  np.var(data)
    return var_1

In [ ]:
var(df2['Blood_Pressure_Before_(mmHg)'])

In [ ]:
var(df2['Blood_Pressure_After_(mmHg)'])

## squared differences from mean

In [ ]:
def squares_difference_from_mean(data):
    mean = np.mean(data)
    squared_diff = (data-mean)**2
    return squared_diff

In [ ]:
squares_difference_from_mean(df2['Blood_Pressure_Before_(mmHg)'])

In [ ]:
squares_difference_from_mean(df2['Blood_Pressure_After_(mmHg)'])

## Calculate mean and 5% confidence interval and plot it in a graph

In [ ]:
def zscorewith5_confidence_interval(data):
    mean = np.mean(data)
    std_div = np.std(data)
    z_score = 1.96
    margin_error = z_score*(std_div/np.sqrt(len(data))) 
    lower_bond = mean-margin_error
    upper_bond = mean+margin_error
    return lower_bond,upper_bond

In [ ]:
pressure_before = zscorewith5_confidence_interval(df2['Blood_Pressure_Before_(mmHg)'])

In [ ]:
pressure_after =zscorewith5_confidence_interval(df2['Blood_Pressure_After_(mmHg)'])

In [ ]:
pressure_before

In [ ]:
pressure_after

In [ ]:
mean_after = np.mean(df2['Blood_Pressure_Before_(mmHg)'])

## Calculate the Mean absolute deviation and Standard deviation and interpret
the results.

In [ ]:
def madandsd(data):
    mean = np.mean(data)
    abdolute_data = np.abs(data-mean)
    mad = np.mean(abdolute_data)
    squarres_deviation = (data-mean)**2
    variance = np.mean(squarres_deviation)
    sd = np.sqrt(variance)
    return mad,sd

In [ ]:
madandsd(df2['Blood_Pressure_Before_(mmHg)'])

In [ ]:
madandsd(df2['Blood_Pressure_After_(mmHg)'])